site_name: where is my shit!? 
site_url: https://www.whereismysh.it/
theme:
  name: material
  logo: assets/logo.png
  features:
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
    - navigation.path
    - navigation.instant
    - navigation.tabs
    - navigation.top
    - navigation.sections
    - search.suggest
    - search.highlight
    - toc.integrate
  language: en
  palette:
    - scheme: default
      toggle:
        icon: material/toggle-switch-off-outline 
        name: Switch to dark mode
      primary: white
      accent: lime 
    - scheme: slate 
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode    
      primary: black 
      accent: lime

plugins:
  - social
  - search:
      separator: '[\s\-,:!=\[\]()"/]+|(?!\b)(?=[A-Z][a-z])|\.(?!\d)|&[lg]t;'
  - tags:
      tags_file: tags.md
  - offline:
      enabled: !ENV [OFFLINE, false]



extra:
  social:
    - icon: fontawesome/brands/github-alt
      link: https://github.com/0hh
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/dtru/

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.arithmatex:
      generic: true
  - footnotes
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.mark
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg

copyright: |
  &copy; 2023 <a href="https://github.com/0hh"  target="_blank" rel="noopener">Dimitrios Truchan</a>